<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue simple app</title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <h1>Hello Vue</h1>

    <div id="root" v-cloak>
        You have message: <span v-on:click="update">{{ message }}</span>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script>
        var app = new Vue({
            // template:'<span>{{ 1 + 2 }}</span>',
            el: '#root',
            data: {
                message: 'Ala lubi placki!'
            },
            methods:{
                update: function(){ this.message = 'Clicked!' }
            }
        })

    </script>
</body>

</html>