<template>
  <div>
    <nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
      <div class="container">
        <router-link
          :exact="true"
          active-class="placki"
          class="navbar-brand"
          to="/"
          >Music App</router-link
        >

        <div class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <router-link class="nav-link" to="/search">Search</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/playlists"
                >Playlists</router-link
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col">
          <router-view />
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import PlaylistView from "@/views/PlaylistsView.vue";
import Playlists from "@/views/Playlists.vue";
import MusicSearch from "./views/MusicSearch.vue";

@Component({
  // components:{ PlaylistView:Playlists,MusicSearch }
})
export default class App extends Vue {
  title = "MusicApp";

  update() {
    this.title = "Placki!";
  }
}

// export default Vue.extend({
//     data:{},
//     methods:{}
// })

// export default {
//     data:{},
//     methods:{}
// }
</script>

<style lang="scss">
@import "~bootstrap/dist/css/bootstrap.css";

// $body-bg: hotpink;
// $body-color: green;

// @import 'bootstrap/scss/buttons.scss'
// @import 'bootstrap/scss/bootstrap.scss'

// $costam: hotpink;

// body{
//   color:$costam;
// }
</style>
