<template>
  <div class="card">
    <img
      v-if="result.images[0].url"
      :src="result.images[0].url"
      class="card-img-top"
    />
    <img v-else src="http://placekitten.com/300/300" class="card-img-top" />

    <div class="card-body">
      <h5 class="card-title">{{ result.name }}</h5>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import { Album } from "@/models/Album";

@Component({})
export default class AlbumCard extends Vue {
  @Prop({ required: true })
  result!: Album;
}
</script>
