<template>
  <!-- .card>.card-body -->

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        <slot name="title">Default value!</slot>
      </h5>
      <!-- <slot name="default"></slot> -->
      <slot></slot>
    </div>
    <div class="card-footer" v-if="$slots.footer">
      <!-- Footer here! -->
      <slot name="footer"></slot>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({})
export default class Card extends Vue {}
</script>
