// @dragover.prevent="remove"

<template>
  <div>
    <div class="list-group">
      <div
        class="list-group-item"
        @click.self="select(playlist)"
        :class="{ active: selected && selected.id === playlist.id }"
        v-for="(playlist, index) of playlists"
        :key="playlist.id"
      >
        {{ index + 1 }}. {{ playlist.name }}

        <span class="close" @click.stop="remove">&times;</span>
      </div>
    </div>
    <!-- {{selected}} -->
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import { Playlist } from "@/models/Playlist";

@Component({
  // props:['playlists']
  // props:{
  //     playlists:{ required:true, default:[], validator(v){ return true } }
  // }
})
export default class ItemsList extends Vue {
  // items!: Playlist[]
  // get playlists(){ return this.items }

  @Prop({ required: true })
  playlists!: Playlist[];

  @Prop()
  selected!: Playlist | null;

  select(playlist: Playlist) {
    // console.log("select", playlist);
    // this.$emit('selectedChange',playlist === this.selected? null : playlist)
    this.$emit("selectedChange", playlist);
  }

  remove(playlist: Playlist) {
    // console.log("remove", playlist);
  }
}
</script>
