<template>
  <Card>
    <template v-slot:title>
      <span @click="$emit('edit')">
        {{ playlist.name }}
      </span>
    </template>

    <template v-slot:footer>
      <input type="button" value="Edit" @click="$emit('edit')" />
    </template>

    <!-- <template v-slot:default> -->
    <dl :title="playlist.name">
      <dt>Name:</dt>
      <dd>{{ playlist.name }}</dd>

      <dt>Favorite:</dt>
      <dd
        :class="{
          favourite: playlist.favorite
        }"
      >
        {{ playlist.favorite | yesno(true) }}
      </dd>

      <dt>Color</dt>
      <dd
        :style="{
          color: playlist.color,
          backgroundColor: playlist.color
        }"
      >
        {{ playlist.color }}
      </dd>
    </dl>
    <!-- </template> -->

    <span>❤️ ❤️ ❤️</span>
  </Card>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import { Playlist } from "@/models/Playlist";

Vue.filter("yesno", (value: string, bang: boolean = false) => {
  // console.log("yesno");
  return (bang ? "Hell " : "") + (value ? "Yes" : "No");
});

@Component({
  filters: {
    yesno(value: string) {
      // console.log("yesno");
      return value ? "Yes" : "No";
    }
  }
})
export default class PlaylistDetails extends Vue {
  @Prop({})
  playlist!: Playlist;
}
</script>
