<template>
  <div>
    <div class="form-group">
      <label>Name:</label>
      <input type="text" class="form-control" v-model="draft.name" />

      {{ 170 - draft.name.length }} / 170
    </div>

    <div class="form-group">
      <label>Favorite:</label>
      <input type="checkbox" v-model="draft.favorite" />
    </div>

    <div class="form-group">
      <label>Color</label>
      <input type="color" v-model="draft.color" />
    </div>

    <input type="button" value="Cancel" @click="cancel" />
    <input type="button" value="Save" @click="save" />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from "vue-property-decorator";
import { Playlist } from "@/models/Playlist";

@Component({})
export default class PlaylistForm extends Vue {
  @Prop({})
  playlist!: Playlist;

  draft: Playlist | null = null;

  cancel() {
    this.$emit("cancel");
  }
  save() {
    // this.draft!.update = new Date() // NOT REACTIVE!!!
    this.$set(this.draft!, "updated", new Date());

    this.$emit("save", this.draft);
  }

  @Watch("playlist", { immediate: true })
  updateDraft() {
    this.draft =
      !this.draft || this.draft.id !== this.playlist.id
        ? { ...this.playlist }
        : this.draft;
  }

  // beforeCreate(){ console.log('beforeCreate'); }
  // constructor(){ super();  console.log('constructor') }
  // created(){ console.log('created');   }

  // beforeMount(){ console.log('beforeMount'); }
  // mounted(){ console.log('mounted'); }

  // beforeUpdate(){ console.log('beforeUpdate');}
  // updated(){ console.log('updated'); }

  // beforeDestroy(){ console.log('beforeDestroy'); }
  // destroyed(){ console.log('destroyed'); }
}
</script>
