<template>
  <div>
    <div class="card-group">
      <AlbumCard
        v-for="result in results"
        :key="result.id"
        :result="result"
        class="card-4-col"
      />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.card-4-col {
  min-width: 25% !important;
  max-width: 25% !important;
}
</style>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import AlbumCard from "./AlbumCard.vue";
import { Album } from "@/models/Album";

@Component({
  components: {
    AlbumCard
  }
})
export default class SearchResuts extends Vue {
  @Prop({
    required: true,
    default: []
  })
  results!: Album[];
}
</script>
