// v-bind="{id : $attrs.id}" // v-on:input=" $emit('input',$event) " // v-on="{
input: $emit('input',$event), change: ...., keyup: .... }"

<template>
  <div class="input-group">
    <input
      type="text"
      class="form-control"
      ref="searchInput"
      v-bind="$attrs"
      :value="query"
      :placeholder="$attrs.placeholder || 'Search'"
      @keyup.enter="search($event.target.value)"
      @input="$emit('queryChange', $event.target.value)"
    />

    <div class="input-group-append">
      <button
        class="btn btn-outline-secondary"
        @click="search(this.$refs.searchInput.value)"
      >
        Search
      </button>
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";

@Component({
  name: "SearchField",
  inheritAttrs: false,
  model: { prop: "query", event: "queryChange" }
})
export default class SearchField extends Vue {
  @Prop() query!: string;

  mounted() {
    if (this.$refs.searchInput instanceof HTMLInputElement) {
      this.$refs.searchInput.focus();
    }
  }

  search(query: string) {
    this.$emit("search", query);
  }
}
</script>
