<template>
  <div>
    <!-- .row*2>.col -->
    <div class="row">
      <div class="col mb-3">
        <SearchField :query="query" @search="search($event)" />
        <p v-if="loading">Please wait...</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>{{ message }}</p>
        <SearchResults :results="results" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import SearchResults from "@/components/SearchResults.vue";
import { Album, AlbumsResponse } from "@/models/Album";
import { auth } from "../services";
import { mapState, mapActions, mapGetters } from "vuex";

@Component({
  components: { SearchResults } /* , data:{ query:''} */,
  computed: {
    ...mapState("search", ["query", "results", "loading"]),
    ...mapGetters("search", ["message"])
  },
  methods: {
    ...mapActions("search", { searchAlbums: "searchAlbums" })
  },
  // watch:{
  //     '$route.query.q':console.log
  // }
  beforeRouteEnter(to, from, next) {
    next();
    // next('/home')
  },
  beforeRouteUpdate(this: MusicSearch, to, from, next) {
    const q = to.query["q"];
    if ("string" === typeof q) {
      this.searchAlbums(q);
    }
    next();
  },
  beforeRouteLeave(this: MusicSearch, to, from, next) {
    next();
  }
})
export default class MusicSearch extends Vue {
  query!: string;
  searchAlbums!: (q: string) => void;

  search(q: string) {
    // this.$router.push('/search?q='+q)
    this.$router.replace("/search?q=" + q);
  }

  // message=  ''
  // results: Album[] = [
  //     {
  //         id:'123',
  //         name:'placki',
  //         type:'album',
  //         images:[{
  //             url:'http://i.imgur.com/ZwLtozI.gif'
  //         }]
  //     }
  // ]

  // created(){
  //     this.search(this.query);
  // }

  // private search(query: string) {
  //     this.message = ''

  //     const albumsPromise=this.$http.get<AlbumsResponse>('search',{
  //         params: {
  //             type: 'album', q: query
  //         },
  //     })
  //     .then(resp => resp.data.albums.items)
  //     .catch( err => this.message = err.message )
  //     .then(results => this.results = results)
  // }
}
</script>
