<template>
  <div class="row">
    <div class="col">
      <ItemsList
        :playlists="playlists"
        :selected="selected"
        @selectedChange="select($event)"
      ></ItemsList>
    </div>

    <div class="col">
      <p v-if="loading">Please wait loading...</p>
      <PlaylistDetails
        v-if="selected && mode === 'show'"
        :playlist="selected"
        @edit="edit"
      />
      <PlaylistForm
        v-else-if="selected"
        :playlist="selected"
        @cancel="cancel"
        @save="save"
      />
      <p v-else>Please select playlist</p>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import ItemsList from "@/components/ItemsList.vue";
import PlaylistDetails from "@/components/PlaylistDetails.vue";
import PlaylistForm from "@/components/PlaylistForm.vue";
import { Playlist } from "@/models/Playlist";
import { mapState, mapMutations, mapGetters, mapActions } from "vuex";

@Component({
  components: {
    // ItemsList:ItemsList,
    // SearchField,
    ItemsList,
    PlaylistDetails,
    PlaylistForm
  },
  methods: {
    ...mapActions("playlists", {
      select: "selectPlaylist",
      savePlaylist: "savePlaylist"
    }),
    ...mapMutations("playlists", { unselect: "selectPlaylist" })
  },
  computed: {
    ...mapState("playlists", ["loading"]),
    ...mapGetters("playlists", ["playlists", "selected"])
    //   ...mapGetters({'playlists':'playlists', 'selected':'selected'})
  }
})
export default class Playlists extends Vue {
  playlists!: Playlist[];
  selected!: Playlist;
  loading!: boolean;

  select!: (select: Playlist | null) => void;
  unselect!: () => void;
  savePlaylist!: (draft: Playlist) => void;

  mode = "show";

  edit() {
    this.mode = "edit";
  }

  cancel() {
    this.mode = "show";
    this.unselect();
  }

  save(draft: Playlist) {
    this.mode = "show";
    this.savePlaylist(draft);
  }

  // get playlists():Playlist[]{
  //     return this.$store.getters.playlists
  // }

  // get selected():Playlist | null{
  //     return this.$store.getters.selected
  // }

  // select(select:Playlist){
  //     this.$store.dispatch('selectPlaylist',select)
  // }
}
</script>
