<template>
  <div class="row">
    <div class="col">
      <SearchField
        placeholder="Filter playlists"
        class="placki"
        v-model="query"
        @search="filter($event)"
      />
      <ItemsList
        :playlists="filtered"
        :selected="selected"
        @selectedChange="select($event)"
      ></ItemsList>
    </div>

    <div class="col">
      <PlaylistDetails
        v-if="selected && mode === 'show'"
        :playlist="selected"
        @edit="edit"
      />
      <PlaylistForm
        v-else-if="selected"
        :playlist="selected"
        @cancel="cancel"
        @save="save"
      />
      <p v-else>Please select playlist</p>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import ItemsList from "@/components/ItemsList.vue";
import PlaylistDetails from "@/components/PlaylistDetails.vue";
import PlaylistForm from "@/components/PlaylistForm.vue";
import { Playlist } from "@/models/Playlist";
// import SearchField from '@/components/SearchField.vue';

@Component({
  components: {
    // ItemsList:ItemsList,
    // SearchField,
    ItemsList,
    PlaylistDetails,
    PlaylistForm
  }
})
export default class PlaylistView extends Vue {
  mode = "show";
  query = "";
  activeFilter = "";

  playlists: Playlist[] = [];

  selectedId: Playlist["id"] | null = null;

  get selected() {
    return this.playlists.find(p => p.id === this.selectedId);
  }

  get filtered() {
    const query = this.activeFilter.toLocaleLowerCase();
    return this.playlists.filter(p =>
      p.name.toLocaleLowerCase().includes(query)
    );
  }

  filter(query: string) {
    this.activeFilter = query;
  }

  select(playlist: Playlist) {
    if (playlist.id === this.selectedId) {
      this.selectedId = null;
      this.mode = "show";
    } else {
      this.selectedId = playlist.id;
    }
  }

  edit() {
    this.mode = "edit";
  }
  cancel() {
    this.mode = "show";
  }

  save(draft: Playlist) {
    const index = this.playlists.findIndex(p => p.id === draft.id);

    if (index !== -1) {
      this.playlists.splice(index, 1, draft);
      this.mode = "show";
      // this.selected = draft
    }
  }
}
</script>
